[user]
	name = sankargavate-cmd
	email = sankargavate-cmd@users.noreply.github.com
[safe]
	directory = /storage/emulated/0/Download
	directory = /storage/emulated/0/Download/shetkari-sathi-step56-audited(00005)/shetkari-sathi
